/*=============
  RESETING CSS 
===============*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
body {
    font-size: 25.6px;
    min-height: 665px;
    min-width: 100%;
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}