/*===================
    ROOT CSS VALUES 
=====================*/

:root {
    --color-green: #54E6AF;
    --color-dark-blue: #121725;
    --color-darkish-blue: #2C344B;
    --color-white: #FFFFFF;
    --color-light-blue: #5A668A;
    --color-very-light-blue: #C2CBE5;
}

/*==============
    HEADER LOGO 
================*/
.header-logo img {
    width: 134.85px;
    height: 56px;
    margin-bottom: 40px;
}

/*=========
    BODY 
===========*/

body {
    font-size: 18px;
    background-color: var(--color-dark-blue);
    color: var(--color-very-light-blue);
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    min-width: 350px;
}

/*===============
    Container 
=================*/
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 55px 25px;
}

/*============
    CONTENT 
=============*/
.content h1 {
    font-size: 26px;
    line-height: 38px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 35px;
}

.hightlight {
    color: var(--color-green);
}

.content p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 30px;
}

/*=====================
    EMAIL FORM & ICONS
=======================*/
.email-icons {
    display: flex;
    flex-direction: column-reverse;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 327px;
    height: 46px;
    border-radius: 28px;
    padding: 20px;
    border: none;
    background-color: var(--color-darkish-blue);
    color: var(--color-very-light-blue);
    margin-bottom: 20px;
}

input::placeholder {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}

button {
    width: 327px;
    height: 46px;
    background-color: var(--color-green);
    color: var(--color-dark-blue);
    border-radius: 28px;
    border: none;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.spotify img, .apple img {
    width: 55px;
    height: 17px;
}

.google img {
    width: 73px;
    height: 11px;
}

.pocket img {
    width: 77px;
    height: 15px;
}

.spotify, .apple, .google {
    margin-right: 20px;
}

/*========-----------------=
    MEDIA QUERY FOR TABLET 
============================*/
@media screen and (min-width:481px) and (max-width:1020px) {
    
    .mobile-img {
        display: none;
    }

    .tablet-img {
        display: flex;
        right: 0px;
        position: absolute;
    }

    .tablet-img img {
        width: 491px;
        height: 767px;
    }

/*============
   CONTAINER 
==============*/

    .container {
        display: flex;
        align-items: flex-start;
        text-align: left;
        padding-left: 40px;
    }

/*=====-=========
    HEADER LOGO
=================*/

    .header-logo {
        display: flex;
        justify-content: left;
        margin-bottom: 107px;
    }

/*===========
    CONTENT 
=============*/

    .content {
        background-color: var(--color-dark-blue);
        width: 635px;
        height: 509px;
        padding: 100px 0 0 0;
    }

    .content h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 35px;
    }

    .content p  {
        font-size: 18px;
        line-height: 28px;
        padding-right: 200px;
        margin-bottom: 45px;
    }


/*======================
    EMAIL FORM & ICONS
========================*/

    .email-icons {
        display: flex;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 35px;
    }

    input {
        width: 427px;
        height: 56px;
    }

    button {
        position: absolute;
        width: 162px;
        height: 46px;
        left: 302px;
        bottom: 136px;
    }

    .icons {
        align-self: flex-start;
    }

    .spotify img {
        width: 96px;
        height: 29px;
    }

    .apple img {
        width: 78px;
        height: 29px;
    }

    .google img {
        width: 125px;
        height: 18px;
    }

    .pocket img {
        width: 129px;
        height: 26px;
    }

    .spotify, .apple, .google {
        margin-right: 40px;
    }

/*===============
    FOOTER DOTS 
=================*/

    .dots {
        display: block;
        position: relative;
        bottom: -115px;
    }
}

/*=======================
    DESKTOP MEDIA QUERY 
=========================*/
@media screen and (min-width:1024px) {
    
    .tablet-img {
        display: none;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        position: absolute;
        right: 0;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .desktop-img img {
        width: 888px;
        height: 640px;
    }

/*=============
    CONTAINER 
==============*/

    .container {
        display: flex;
        align-items: flex-start;
        text-align: left;
        padding-left: 250px;
    }

/*==============
    HEADER LOGO 
================*/

    .header-logo {
        display: flex;
        justify-content: left;
        padding-top: 15px;
        margin-bottom: 50px;
    }

/*===========
    CCONTENT 
=============*/

    .content {
        background-color: var(--color-dark-blue);
        width: 723px;
        height: 509px;
        padding: 60px 0 0 0;
    }

    .content h1 {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 35px;
    }

    .content p {
        font-size: 18px;
        line-height: 28px;
        padding-right: 275px;
        margin-bottom: 45px;
    }
}

/*======================
    EMAIL FORM & ICONS 
========================*/
@media screen and (min-width:1024px) {

    .email-icons {
        display: flex;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 35px;
    }

    input {
        width: 427px;
        height: 56px;
    }

    button {
        display: block;
        position: absolute;
        width: 162px;
        height: 46px;
        left: 510px;
        bottom: 165px;
    }

    button:hover {
        background-color: #B3FFE2;
        cursor: pointer;
    }

    .icons {
        align-self: flex-start;
    }

    .spotify img {
        width: 96px;
        height: 29px;
    }

    .apple img {
        width: 78px;
        height: 29px;
    }

    .google img {
        width: 125px;
        height: 18px;
    }

    .pocket img {
        width: 129px;
        height: 26px;
    }

    .spotify, .apple, .google {
        margin-right: 50px;
    }

    /*===============
        FOOTER DOTS 
    =================*/

    .dots {
        display: block;
        position: absolute;
        left: 1640px;
        bottom: 10px;
    }
}